#message{
    display:none;
    color: #000;
    position: relative;
    margin-top: 5px;
}
.invalid {
    color: red;
    margin-bottom: -5px;
}
.invalid:before {
    position: relative;
    left: -35px;
}

body {
    display: block;
    margin-left: 2%;
    margin-right: 2%;
    width: auto;
}