<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="background: antiquewhite; width: 100%; height: 100px; margin: 0" th:fragment="header">
    <h1>Przesylki.pl</h1>

    <a href="/">Strona główna</a>
    <a href="/contact">Formularz kontaktowy</a>
</div>

<div style="background: darkblue; width: 100%; height: 100px; margin: 0; color: white" th:fragment="footer">
    <p>    ©Przesylki.pl &nbsp&nbsp Korzystanie z serwisu oznacza akceptację regulaminu</p>
</div>

</body>
</html>